header{background-color: #9F0100 !important;}
header a{color: #FFFFFF;}
header h1{color: #FFFFFF !important;}
.mui-scrol{overflow: auto;}
.mui-table-view{overflow: auto;}
.mui-table-view:after{background-color: transparent;}
.mui-order-list{padding: 0 5%;}
.mui-order-list li{height: 40px;line-height: 40px;font-size: 14px;list-style: none;}
.mui-order-list li span{display: block;width: 50%;}
.mui-order-list li span:first-child{float: left;width: 80%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.mui-order-list li span:nth-child(2){float: left;text-align: right;width: 10%;}
.cash{}
/*合计*/
.mui-Total{position: fixed;bottom: 40px;width: 100%;border-top: 1px solid #c8c7cc;}
.mui-Total p{color: #9f0100;padding: 0 5%;width: 100%;margin: 0;height: 40px;line-height: 40px;}
.mui-Total p span{display: block;float: left;width: 50%;}
.mui-Total p span:first-child{float: left;width: 50%;text-align: left;}
.mui-Total p span:nth-child(2){float: left;text-align: right;width: 40%;}
.mui-button-row{width: 100%;position: fixed;bottom: 0;height: 40px;padding-top: 0;}
.mui-btn{background-color: #9f0100;width: 100%; border-radius: 0;border: 0;height: 40px;}
.mui-btn:active{background-color: #9f0100;}


/*法规查询*/
a:active{color: #FFFFFF;}
.mui-title,.mui-action-back{color: #FFFFFF;}
.mui-bar .mui-icon,.mui-bar .mui-icon:active{opacity: 1;}

.mui-bar{background-color: #9f0100;}
.mui-input-group:after,.mui-input-group:before{background-color: transparent;}
.mui-icon-clear{top: 0 !important;}
.mui-input-row label{height: 40px;line-height: 20px;}
.mui-input-row label:first-child{font-size: 14px;width: 35%;text-align: right;}
.mui-input-row label:nth-child(2){width: 60%;padding: 11px 0;font-size: 14px;}
.mui-input-row input[type=text]{width: 52% !important;font-size: 14px;}
.mui-input-row input[type=radio]{position: initial;height: 40px;line-height: 46px;width: 7%;}
.mui-input-row span{font-size: 14px;height:40px;line-height: 40px;}
.mui-input-row:nth-last-child(2){margin-bottom: 44px;}
.mui-button-row{position: fixed;bottom: 0;width: 100%;}
.mui-button-row button{width: 100%;height: 45px;background-color: #9f0100;border-radius: 0;}
.radio_inline{width: 65%;float: right;height: 40px;}
.mui-checkbox input[type=checkbox]:before, .mui-radio input[type=radio]:before{font-size: 16px;}/*//设置单选按钮大小*/
.mui-input-row input[type=text]{border: 1px solid #ddd;border-radius: 5px;height: 30px;margin-top: 5px;float: left;padding-left: 10px;}
.mui-btn-search{width: 50% !important;float: left;border-right: 1px solid #FFFFFF !important;}
.mui-btn-reset{width: 50% !important;float: right;}
.mir-span{display: block;clear: both;width: 90%;text-align: center;float: right;height: 30px !important;line-height: 30px !important;color: rgb(255, 0, 0);}
.mui-input-group .mui-input-row{height: auto;}
.mui-btn-blue.mui-active:enabled, .mui-btn-blue:enabled:active, .mui-btn-primary.mui-active:enabled, 			.mui-btn-primary:enabled:active, input[type=submit].mui-active:enabled, input[type=submit]:enabled:active{border: 1px solid #9F0100;background-color: #9F0100;border-right: 1px solid #FFFFFF;}
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{color: #9F0100;}
select{margin: 5px 0;}

/*下拉框*/
.mui-selectDate{width: 65%;float: right;}
.mui-selectDate p{overflow: hidden;width: 100%;color: #9f0100;margin-bottom: 0;margin: auto;}
.mui-selectDate p select{width:80%;display: block;float: left;border: 1px solid #b6a9a9 !important;padding: 0 2%;font-size: 14px;}
.mui-selectYear{color: #000000;}
.mui-selectYear option{width: 100px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;;}
.icon-xiaosanjiaodown{height: 40px;line-height: 40px;display: initial;margin-left: -23px;top: 0;font-size: 18px;}
.mui-selectDate .icon{padding: 0;color: #9F0100;}
.mui-student{margin-top: 80px;;}
.mui-student{padding-top: 20px !important;}



/*一键选课*/
.mui-button-row{width: 100%;position: fixed;bottom: 0;height: 40px;padding-top: 0;}
.mui-btn{background-color: #9f0100;width: 100%; border-radius: 0;border: 0;height: 40px;}
.mui-cur{margin: 0;padding: 0;}
.mui-cur li{height: 40px;line-height: 40px;padding-left: 3%;list-style: none;border: 1px solid #BBBBBB;border-top: none;}
.mui-cur li:first-child{border: 1px solid #BBBBBB;}
.mui-cur li a{color:#9f0100;font-size: 14px;display: block;}
#mui-cur{overflow: auto;}

/*考试培训*/
.mui-select1{padding: 0 10px;display: inline-block;width: 50%;border: 1px solid #b6a9a9 !important;}
.mui-select1 option{width: 100px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;;}
.mui-speeds .icon{padding: 0;color: #9f0100;}
.mui-speeds .icon-xiaosanjiaodown{display: initial;margin-left: -23px;top: 0;font-size: 18px;}

.mui-speeds{text-align: center;}
.mui-speeds p{color: #9f0100;margin-bottom: 0;}

.mui-speed p{float: left;width: 33%;height: 100px;line-height: 170px;font-size: 18px;color: #9f0100;}
.mui-speed p:first-child{text-align: right;width: 37%;}
.mui-speed p:last-child{text-align: left;width: 30%;}

.mui-cur1{margin: 0;padding: 0;overflow: hidden;}
#mui-cond1 p{background-color: #FDE1B9;margin: 0;height: 40px;line-height: 40px;padding-left: 20px;font-size: 15px;color: #000;}
.mui-cur1 li{list-style: none;line-height: 30px;border: 1px solid #ddd;padding: 0 10px;overflow: hidden;height: auto;}
.mui-cur1 li a{color: #9F0100;font-size: 14px;display: block;}
.mui-cur1 li a:first-child{width: 100%;padding-right: 10px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.mui-cur1 li a:nth-child(2){width: 80%;float: left;}
.mui-cur1 li a:nth-child(3){width: 10%;float: left;text-align: center;}
.mui-cur1 li a:nth-child(4){width: 10%;float: left;text-align: center;}
.cash1{text-decoration: line-through;}
#mui-cond1{overflow: auto;}
.clicked{background-color: #9F0100; /*color: #9F0100 !important;*/}/*选中样式*/
.clicked a {color: #FFFFFF !important;}
.mui-class{padding-top: 44px !important;}
/*.icon-htmal5icon31{width: 50%;display: block;float: left;}*/
.mui-speeds .icon-xiaosanjiaodown{line-height: 30px !important;}
.ms-options-wrap{width: 100% !important;margin-bottom: 10px;}
.ms-options ul{padding: 0;}
.ms-options-wrap button{height: 35px;}
.ms-options-wrap button:enabled:active{background-color: #FFFFFF;color: #9F0100;}

/*章节练习*/
.mui-chapterList{padding-left: 3%;}
.mui-chapterList li{list-style: none;font-size: 14px;line-height: 40px;}
.mui-chapterList li a{margin-left: 10px;margin-right: 5px;background-color: #72BBFE;padding: 5px 10px;color:#FFFFFF;border-radius: 10px;font-weight: bold;text-shadow: 0 -1px 1px rgba(0,0,0,0.25);border-bottom: 2px solid rgba(0,0,0,0.25);}
.mui-detailbg{background-color: #91BD09 !important;}
.mui-detailspan{color: red;}

/*模拟题库*/
.mui-tpaperlist{overflow: hidden;}
/*.mui-tpaperlist h4,.mui-exlist h4{font-size: 18px;line-height: 40px;border-bottom: 2px solid #9a9a9a;margin: 0 10px;box-sizing:border-box; }*/
h4{font-size: 18px;line-height: 40px;border-bottom: 1px solid #9a9a9a;margin: 0 10px;box-sizing:border-box;}
.mui-tpaperlist a{font-size: 16px;background-color: #EE4000;color: #ffffff;font-weight: bold;padding: 5px 10px;border-radius: 10px;margin-left: 15px;margin-top: 10px;display: block;float: left;text-shadow: 0 -1px 1px rgba(0,0,0,0.25);border-bottom: 2px solid rgba(0,0,0,0.25);}
.mui-exlist .mui-exltable{width: 100%}
.mui-exlist table tr{height: 30px;line-height: 30px}
.mui-exlist table tr th,td{font-size: 14px;text-align: center;}
.mui-exlist table tr th:first-child{width: 30%;}
.mui-exlist table tr th:nth-child(2){width: 30%;}
.mui-exlist table tr th:nth-child(3){width: 10%;}
.mui-exlist table tr th:nth-child(4){width: 30%;}
.mui-exlist .mui-exltable  td a:active{color: #9f0100 }



/*试题样式*/
.mui-icon-left-nav{color: #FFFFFF;}
/*答题卡样式*/
.icon-datiqia,.icon-msnui-calculator{font-size: 24px;color: #fff;}
.tab_icon,.tab_icon1{display: block;height: 44px;line-height: 44px;width: 15%;float: left;text-align: center;}
.test_time{width: 70%;display: block;height: 44px;float: right;height: 44px;line-height: 44px;color: #fff;text-align: center;}
.tab{position: absolute;width: 100%;background-color: #fff;padding:10px;box-sizing: border-box;display: none;top: 44px;left: 0;}
.tab p{clear: both;height: 40px;line-height: 40px;margin: 0}
.tab a{text-decoration: none;color: #9f0100;background-color: #f3eeee;display: block;float: left;margin-left: 1%;width: 30px;height:30px;line-height: 30px;margin-right: 3%;margin-bottom: 10px;text-align: center;border: 1px solid #a5a2a2;margin-top: 1%}
.tab a:active{color: #9f0100}
/*计算器*/
 .container{position: absolute;top: 10%;left: 0;right: 0;top: 44px;display: none;}
 .form-control-lg{border: 0 !important;margin: 0 !important;}

/*题目*/
.test{margin-bottom: 50px;}
.content_tl{overflow: hidden;padding: 5% 2%;}
.content_tl p{color: #000000;font-size: 15px;}
/*.content_tl_t{text-indent: 2em}*/
input[type="radio"]{width: 25px;height: 16px}
.p_left{margin: 0;margin-top: 5%;overflow: hidden;padding-left: 5%;}
.p_left label{font-size: 16px;}
.test{display: none;}
.test:first-of-type{display: block;}
.pl_test{margin-top: 10px;}
/*结果*/
.result{color: red;}
/*解析*/
/*.a{display: none;}*/
.a:active{color: red;}
.d{color: red;}
.a,.d{padding: 5% 2%;}
#aUp{border-right: 1px solid #fff}

/*底部按钮*/
.enter_btn{width: 100%;background-color: #9f0100;height: 44px;line-height: 44px;position: fixed;bottom: 0;}
.enter_btn a{color: #FFFFFF;display: block;float: left;width: 50%;text-align: center;}
     

/*我的课程*/
.muiCourse{background-color: #EFEFF4;}
.mui-tab{background-color: #FFFFFF;}
.mui-course-tab{}
.mui-course-tab-ul{margin: 0;padding:  10px;margin: 10px;background-color: #FFFFFF;background-clip: padding-box;box-shadow: 0 1px 2px rgba(0,0,0,.3);border-radius: 2px;overflow: hidden;}
.mui-course-tab-ul li{list-style: none;font-size: 14px;line-height: 25px;}
.mui-course-tab-ul li img{width: 100%;height: 100%;}
.mui-course-tab-ul li:first-child{width: 100%;height: 220px;float: left;}
.mui-course-tab-ul li:nth-child(2){float: left;}
.mui-course-tab-ul li:nth-child(4){float: left;}
.mui-course-tab-ul li:last-child a{background-color: #E62727;color: #FFFFFF;display: block;float: left;width: 30%;margin-right: 3%;margin-bottom: 3%;text-align: center;padding: 5px 0;border-radius: 5px;}

/*我的订单*/
.mOrder{overflow: hidden;padding: 1%;}
.mOrder table{margin-bottom: 10px;width: 100%;}
.mOrder tr td{border: 1px solid #b3bdca;font-size: 14px;text-align: center;}
.mOrder tr td:first-child{width: 70%;border: 1px solid #b3bdca;font-size: 14px;text-align: center;padding: 0 2%;}
.mOrder tr td img{width: 100%;}



/*法规查询*/
.mui-table-view-cell1 a{height: 40px;line-height: 40px;width: 100%;border-bottom: 1px solid #9F0100;display: block;padding: 0 20px;font-size: 15px;color: #3e0e0e;}
.mui-navigate-right1 span:first-child{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: block;width: 70%;float: left;}
.mui-li-span{float: right;}

/*通用按钮禁止点击样式*/
.prohibit{background-color: #9D9D9D !important;}



/*热点详情*/
.mui-bar{background-color: #9F0100;}
.mui-action-back,.mui-title{color: #FFFFFF;}
.details{padding: 0 10px;}
.details p{text-indent: 2em;font-size: 16px;line-height: 30px;color: #000000;}



/*实务培训*/
#mui-pratical p,.courseNav-p{background:-webkit-linear-gradient(left, #FDE1B9, #FFFFFF);margin: 0;height: 40px;line-height: 40px;padding-left: 20px;font-size: 15px;color: #000;}
/*最新资讯*/
.latestClassify{padding: 0 10px;margin-top: 0px;}
.latestClassify li{list-style: none;margin-top: 15px;}
.latestClassify li a{color: #8a8686;font-size: 16px;}
.latestClassify li a:active{color: #9F0100;}
.latestClassify li a:first-child{display: block;width: 100%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.latestClassify li span{display: block;text-align: right;color: #d18f30;font-size: 16px;}
/*内训/公开课*/
.interTrainOpen{padding: 0 10px;overflow: hidden;margin: 10px 0;}
.interTrainOpen li{list-style: none;overflow: hidden;line-height: 35px;}
.interTrainOpen li a{color: #000000;}
.interTrainOpen li a:active{color: #9F0100;}
.interTrainOpen li a:first-child{display: block;width: 80%;float: left;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.interTrainOpen li a:nth-child(2){width: 10%;float: left;color: #d18f30;}
.interTrainOpen li a:nth-child(3){width: 10%;float: left;color: #d18f30;}
/*课程导航*/
.courseNav-ul{margin: 0;}
.courseNav-ul li{line-height: 35px;}
.courseNav-ul .courseNav-ul-ul{overflow: hidden;background-color: #FDE1B9;margin-left: -40px;display: none;}
/*.courseNav-ul ul{}*/
.courseNav-ul ul li{list-style: none;color: red;}
.courseNav-ul ul li a{color: red;}
.courseNav-ul .courseNav-ul-ul li ul{padding-left: 40px;overflow: hidden;}
.courseNav-ul .courseNav-ul-ul-ul li {float: left;padding-right: 10px;color: #000000;}
.courseNav-ul a, .courseNav-ul-ul li .courseNav-ul-ul-ul a{color: #000000;}
.courseNav-ul a:active{color: #9F0100;}
/*课程列表*/
.mui-bar .header-search{width: 70%;margin-top: 5px;margin-bottom: 0;height: 34px;}
.mui-bar .header-search_a{background-color: #edeaea;color: #000;font-size: 16px;margin-left: -10px;margin-top: 5px;display: inline-block;height: 34px;line-height: 34px;border-radius: 5px;padding: 0 4%;}
.mc_seat{background-color: #FFC4A6;margin: 0;background-color: #DA3931;color: #FFFFFF;font-size: 18px;height: 40px;line-height: 40px;text-align: center;}
.mui-main{margin-top: 44px;}
.courseList{margin: 0;padding: 0;}
.courseList li{list-style: none;}
.courseList li{border-bottom: 1px solid #9F0100;}
.courseList .ctitle{width: 100%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;padding: 0 20px;display: block;line-height: 30px;}
.courseList span:nth-child(2){padding: 0 10px 0 20px;}
.courseList span{font-size: 15px;line-height: 30px;}
.courseList .mui-detail{width: 40%;float: right;text-align: right;padding-right: 20px;height: 30px;line-height: 30px;color:#9d9c9c}
.mui-detail i{font-size: 20px;}
.clicked1{color: #9F0100 !important;}
/*底部按钮*/
.mui-bar-tab{height: 44px;}
.mui-bar-tab a{width: 50%;display: block;color: #FFFFFF;height: 44px;line-height: 44px;float: left;text-align: center;font-size: 16px;}
.mui-bar-tab a:first-child{border-right: 1px solid #FFFFFF;}
/*资讯详情*/
.infordetail_h4{border: none;text-align: center;}
.infordetail_span{display: block;text-align: right;padding-bottom: 10px;margin-bottom: 5px;border-bottom: 1px solid #ddd;}

/*实务培训-我的订单*/
.pOrderList ul{padding: 0;margin: 0;overflow: hidden;}
.pOrderList ul li{list-style: none;font-size: 14px;line-height: 25px;}
.pOrderList ul li img{width: 100%;min-height: 120px;}
.pOrderList ul li a:active{color: #9F0100;}
.pOrderList ul li.order-num{background-color: #F1F0EE;text-indent: 1em;line-height: 35px;}
.pOrderList ul li.order-img{width: 50%;float: left;padding: 2%;}
.pOrderList ul li:nth-child(3),.pOrderList ul li:nth-child(4){width: 24%;float: left;margin-top: 2%}
.pOrderList ul li:nth-child(5),.pOrderList ul li:nth-child(6){width: 48%;float: left;}
.alreadyPaid{display: none;}/*已支付*/
/*实务培训-订单详情*/
.order_num{line-height: 40px;text-indent: 1em;}
.order_num span{margin: 0;padding: 0;display: block;color: #000000;font-size: 15px;font-weight: bold;}
.order_info{border: 2px solid #DFC9B2;margin: 1%;padding: 2%;}
.order_info p{margin: 0;padding: 0;border-bottom: 1px solid #DFC9B2;padding: 5px 0;}
.order_info ul{padding: 10px 0;margin: 0;}
.order_info ul li img{width: 90px;height: 110px;}
.order_info ul li {list-style: none;}
.order_info ul li span{padding: 0 !important;line-height: 30px;font-size: 14px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;text-align: center;}
.order_info  a{display: block;text-align: right;color: #000000;font-size: 14px;}
.order_info  .price1{display: block;text-align: right;color: #9F0100;}
.order_info  .conPay{color: #FFFFFF;font-weight: bold;background-color: #9F0100;width: 50%;float: right;text-align: center;padding: 5px;border-radius: 5px;}
.order_info ul li:first-child{width: 30%;float: left;}
.order_info ul li:nth-child(3){width: 35%;float: left;}
.order_consignee{color: #000000;display: block;font-size: 15px;font-weight: bold;}
.order_condetail{text-indent: 1em;display: block;color: #363637;}
		
			

/*图书馆*/
.mui-book{overflow: hidden;}
.mui-bookSelect{width: 35%;float: left;position: relative;}
.mui-booksearch{float: left;width: 65%;}
.mui-inputsearch{float: left;margin-bottom: 0 !important;width: 65%;}
.mui-input-row input[type=text].mui-input-clear1{width: 99% !important;height: 35px;margin-bottom: 0;}
.mui-btn-book{margin-top: 5px;height: 35px;margin-left: -3px;}
.mui-btn-book:active{background-color: #FFFFFF;}
.mui-table-view-chevron1 li{overflow: hidden;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;padding:2% 5%;margin-bottom: 10px;}
.mui-table-view-chevron1 li a:first-child{display: block;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.mui-table-view-chevron1 li a:nth-child(2){display: block;height: 75px;width: 30%;float: left;position: relative;}
.mui-table-view-chevron1 li a:nth-child(2) i{font-size: 30px;position: absolute;bottom: 10px;color: #ddd;}
.mui-table-view-chevron1 li span{display: block;width: 70%;float: right;text-align: right;height: 25px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;font-size: 14px;}
.bookSearch{display: block;width: 25%;float: left;text-align: center;height: 35px;line-height: 35px;background-color: #DDDDDD;margin-top: 5px;margin-left: -5px;border-radius: 5px;color: #000000;font-size: 16px;}
.bookSearch:active{color: #000;}
/*财经书城*/
/*首页*/
.mui-booksearch .mui-bookcity-search{width: 75% !important;}
.book-btn{width: 35%;float: right;height: 35px;line-height: 35px;margin-top: 5px;}
.book-btn a{font-size: 12px;background-color: #9F0100;color: #FFFFFF;display: block;width: 50%;float: left;text-align: center;}
.book-btn a:first-child{border-right: 1px solid #FFFFFF;}
/*主体部分*/
.mui_main{/*background-color: #00D449;*/overflow: hidden;margin-top: 5px;}
/*销量...条件*/
.mui_main .top_condition{width: 100%;height: 40px;line-height: 40px;background-color: #fdebeb;}
.top_condition a{display: block;width: 25%;float: left;text-align: center;font-size: 16px;}
.top_condition a:active{color: #9F0100;}
.mui_main .c_left{width:30%;float: left;border-right: 1px solid #DDDDDD;}

.mui_main .c_right{width:70%;float: right;}
.c_right dl{width: 49%;float: left;margin: 0;}
.c_right dl img{width: 100%;}
.c_right dl:nth-child(even){margin-right: 0.7%;margin-left: 0.6%;}
.c_right dd{margin: 0;font-size: 14px;text-align: center;}
.c_right dd a:active{color: #9F0100;}
.c_right dd span:first-child{color: #9F0100;}
.c_right dd span:nth-child(2){text-decoration: line-through;}
.c_right h5{margin: 0;padding:0 10px;height: 42px;line-height: 42px;font-size: 18px;color: #9F0100;}
.c_right h5 a{color: #000000;font-size: 14px;display: block;width: 30%;float: right;text-align: right;}


.c_left a{display: block;font-size: 14px;color: #000000;padding: 10px 5px;border-bottom: 1px solid #DDDDDD;text-align: center;}
.c_left a:active{color: #000000;}



/*列表*/
/*销量...条件*/
.mui_main .c_list{width:100%;}
.mui_main1{margin-top: 0;}
.c_list dl{width: 100%;float: left;padding: 0 2%;margin: 0;}
.c_list dl dt{width: 48%;float: left;}
.c_list dl img{width: 100%;}
.c_list dd{margin: 0;font-size: 14px;text-align: center;width: 52%;float: right;padding: 0 5px;}
.c_list dd a{background-color: #9F0100;color: #FFFFFF;display: block;width: 50%;margin: 0 auto;border-radius: 5px;}
.c_list dd a:active{color: color: #FFFFFF;}
.c_list dd span:first-child{color: #9F0100;}
.c_list dd span:nth-child(2){text-decoration: line-through;}
.c_list h5{margin: 0;padding:0 10px;height: 42px;line-height: 42px;font-size: 18px;color: #9F0100;}

/*详情*/
.mui-shoppingcard{float: right;height: 44px;line-height: 44px;}
.mui-shoppingcard i{font-size: 20px;}
.mui_bookInfo{padding-bottom: 2%;border-bottom: 2px solid #9F0100;}
.mui_bookInfo dl{margin: 0;}
.mui_bookInfo dl dd{margin: 2%;font-size: 14px;}
.mui_bookInfo dl dt img{width: 100%;}
.mui_bookInfo dl dd:nth-child(2){font-size: 18px;color: #9F0100;}
.mui_bookInfo dl dd .presentPrice{font-size: 16px;color: #9F0100;}
.mui_bookInfo dl dd .price{text-decoration: line-through;}
.mui_bookInfo dl dd a{display: block;width: 35%;background-color: #9F0100;color: #FFFFFF;text-align: center;border-radius: 5px;line-height: 35px;margin: 0 auto;}

/*介绍*/
.mui_bookIntro{}
.mui_bookIntro dl{margin: 0;}
.mui_bookIntro dl dt{background-color: #E8F2FB;line-height: 35px;}
.mui_bookIntro dl dt a{display: block;width: 35%;text-align: center;background-color: #FFFFFF;color: #000000;font-size: 15px;}
.mui_bookIntro dl dd{line-height: 30px;font-size: 14px;margin: 0;padding: 0 2%;text-indent: 1.5em;}
/*推荐购买*/
.mui_recommend{}
.mui_recommend p{background-color: #DDDDDD;line-height: 35px;color: #000000;font-size: 15px;font-weight: bold;text-indent: 1.5em;}
.mui_recommend p span{width: 6px;height: 35px;background-color: #9F0100;display: block;float: left;}
.mui_recommend dl{margin: 0;width: 49%;float: left;margin-bottom: 10px;}
.mui_recommend dl:nth-child(even){margin: 0 0.6% ;}
.mui_recommend dl dt img{width: 100%;}
.mui_recommend dl dd{margin: 0;font-size: 14px;text-align: center;}
.mui_recommend dl dd a:active{color: #9F0100;}
/*选中样式*/
.book_a_click{background-color: #dddddd;color: #000000 !important;}

#mui-scorl-H{overflow: auto;}
/*课程列表*/
.mui_car{float: right;line-height: 44px;position: relative;}
.mui_coursesList{background-color: #e9ecee;}
.list_block{margin-top: 10px;margin: 10px 10px 0px 10px;}
.block_first{height: 90px;text-align: center;padding-top: 25px;border-top-left-radius: 8px;border-top-right-radius: 8px;}
.block_first span{color: #fff;}
.block_second{background-color: #fff;height: 50px;line-height: 50px;border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;padding: 0 10px;}
.block_second span{color: #9F0100;}
.block_second span:nth-child(2){display: block;float: right;}
.block_second span i{font-size: 22px;color: #9F0100;}
/*课程详情*/
.mui_courseDetail{border-bottom: 2px solid #9F0100;line-height: 35px;padding: 0 10px;}
.mui_courseDetail p{margin: 0;padding-bottom: 0;color: #000;}
.mui_courseDetail .curouse_title{font-size: 18px;}
.mui_courseDetail label{display: block;float: left;width: 70px;font-size: 14px;}
.mui_courseDetail .presentPrice{font-size: 20px;color: #9F0100;}
/*选中*/
.mui_font a{border: 1px solid #D5D5D5;margin: 5px;padding: 0px 10px;color: #000;border-radius: 5px;display: inline-block;height: 32px;line-height: 32px;}
.mui_selectFont{border: 1px solid #9F0100 !important;background: url(../images/select.png) no-repeat right bottom;background-repeat: no-repeat;background-size: 15px 16px;}
.mui_category{margin-left: 70px;}
.mui_addCard{display: block;background-color: #9F0100;color: #fff;width: 30%;border-radius: 5px;height: 30px;line-height: 30px;text-align: center;margin: 0 auto;margin-bottom: 10px;margin-top: 10px;}/*加入购物车*/
